{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <section id="top-profile-wrapper" class="">
        <h1>{{Title}}</h1>
        <form method="POST" action="/profile/edit-password">
            <div class="form-group">
                <label for="firstName">New Password:</label>
                <input type="text" id="newPassword" name="newPassword">
            </div>
            <div class="form-group">
                <label for="lastName">Confirm New Password:</label>
                <input type="text" id="confirmNewPassword" name="confirmNewPassword">
            </div>
            <button type="submit" class="btn">Save Changes</button>
        </form>
    </section>
    <section id="form-errors" class="form-errors">
        <ul>
            {{!-- errors convert stringified array to array --}}
            {{#each Errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>
<script src="/public/js/index.js"></script>

{{> 'partials/footer' }}