{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <h1>{{Title}}</h1>
    
    <section id="top-profile-wrapper" class="">
        <form method="POST" action="/profile/edit-password">
            <div class="form-group">
                <label for="current-password">Current Password:</label>
                <input type="password" id="current-password" name="current-password">
            </div>
            <div class="form-group">
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new-password">
            </div>
            <div class="form-group">
                <label for="confirm-new-password">Confirm New Password:</label>
                <input type="password" id="confirm-new-password" name="confirm-new-password">
            </div>
            <button type="submit" class="btn">Save Changes</button>
        </form>
    </section>
    <section id="success-section" class="success-section">
        {{#if Success}}
            <p>{{Success}}</p>
            <script>
                setTimeout(() => {
                    window.location.href = '/profile';
                }, 5000);
            </script>
        {{/if}}
    </section>
    <section id="form-errors" class="form-errors">
        <ul>
            {{!-- errors convert stringified array to array --}}
            {{#each Errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>

{{> 'partials/footer' }}