{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <section id="top-profile-wrapper" class="">
        <h1>{{Title}}</h1>
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>
<script src="/public/js/index.js"></script>

{{> 'partials/footer' }}