{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <h1>{{Title}}</h1>
    <section id="top-page-main-section">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
    </section>

    <section id="login-msg-section">
        <h2>Login</h2>
        <p id="login-msg"></p>
        <a href="/register" id="register-link">Register</a>
        <h2>Register</h2>
        <p id="register-msg"></p>
        <a href="/login" id="login-link">Login</a>
    </section>
    <section id="bottom-page-main-section">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
    </section>
</main>

<script src="/public/js/index.js"></script>

{{> 'partials/footer' }}