{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <section id="top-page-main-section">
        <h1>{{Title}}</h1>
        <p>
            This page is still under construction. Please check back later.
        </p>
        <a href="/">
            Back to Home
        </a>
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>
<script src="/public/js/index.js"></script>

{{> 'partials/footer' }}