{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>
<main>
    <h1>{{Title}}</h1>
    <section id="top-profile-wrapper" class="">
        <a href="/organizations" class="">Back to Organizations</a>
        <form id="add-organization-form" class="base-crud-form" action="/organizations/add" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Organization name" required>
            </div>

            <button type="submit" class="">Add Organization</button>
        </form>
    </section>
    
    {{!-- display form errors --}}
    <section id="form-errors" class="">
    </section>

    {{!-- display success message --}}
    <section id="success-message" class="">
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>
<script type="module" src="/public/js/process-crud-form.js"></script>


{{> 'partials/footer' }}