{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <h1>{{Title}}</h1>
    <section id="top-profile-wrapper" class="">
        <a href="/organizations" class="">Back to Organizations</a>
        <h2>Editing {{Organization.Name}}</h2>
        <form id="edit-organization-form" class="" action="/organizations/edit/{{Organization.IDString}}" method="POST">
            <div class="form-group">
                <label for="name">New Name</label>
                <input type="text" id="name" name="name" placeholder="Organization name" required>
            </div>

            <button type="submit" class="">Add Organization</button>
        </form>
    </section>
    
    {{!-- display form errors --}}
    <section id="form-errors" class="">
    </section>

    {{!-- display success message --}}
    <section id="success-message" class="">
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>
<script>
    $(document).ready(function(){
        // this is to send the form data to the server over Zepto ajax
        $('#edit-organization-form').submit(function(e) {
            e.preventDefault();
            var form = e.target;

            var data = {}; 
            $('#edit-organization-form').serializeArray().map(function(x){
                data[x.name] = x.value;
                }
            );

            var url = form.attributes.action.value;
            var method = form.attributes.method.value;

            // make an ajax request and handle the response by adding either success or error message
            $.ajax({
                type: method,
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    // add success message and the script to redirect to organizations page
                    $('#success-message').html(`
                        <p>Organization deleted successfully</p>
                        <p>Redirecting to organizations page...</p>
                    `);
                },
                error: function(xhr, status, error){
                    var message = JSON.parse(xhr.response).message || "Could not add organization";
                    // add error message
                    $('#form-errors').html('<ul><li>' + message + '</li></ul>');
                }
            });

            setTimeout(() => {
                window.location.href = '/organizations';
            }, 3000);
        });
    });
</script>

{{> 'partials/footer' }}