{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <section id="top-page-main-section">
        <h1>{{Title}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
    </section>

    <section id="bottom-page-main-section">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cumque iusto, doloremque veniam, saepe ratione nostrum dolores, similique vero assumenda consectetur. Explicabo magnam, dolorum facere aut quo a quae. Ad dicta accusamus atque. Commodi enim esse distinctio omnis consectetur nihil delectus? Cum eos distinctio doloribus quibusdam, ipsa vero dolore commodi?</p>
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>
<script src="/public/js/index.js"></script>

{{> 'partials/footer' }}